*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: #122A57;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #fff;
    position: relative;
    padding: 15px 0;
}
header ul{
    display: flex;
    align-items: inherit;
    flex-grow: 2;
    justify-content: flex-end;
}
header h1{
    flex-grow: 1;
    text-align: center;
}
header ul li{
    margin: 0 5px;
}
header ul li a{
    padding: 10px;
    color: rgba(255,255,255,.5);
    font-size: .8em;
    transition: color .25s;
}
header ul li a:hover{
    color: #fff;
}
@media only screen and (min-width: 320px) and (max-width: 480px) { 
    header ul{
        flex-grow: 1;
        justify-content: center;
        font-size: 1em;
    }
    header h1{
        flex-grow: 1;
        font-size: 1.3em;
    }
}